<div class="actions">
  <% if (currentFolder) { %>
  <a href="/folders/<%= currentFolder.id %>/new-file">
    <button>+ New file</button>
  </a>
  <% } %>

  <a
    href="/new-folder<%= currentFolder ? `?parentId=${currentFolder.id}` : '' %>"
  >
    <button>+ New folder</button>
  </a>

  <p><a href="/logout" class="logout">Log out</a></p>
</div>

<div class="dashboard">
  <div class="sidebar">
    <h2>Your Folders</h2>
    <ul class="folder-tree">
      <%- include("folder-tree", { folders, allFolders, openPath, currentFolder
      }) %>
    </ul>
  </div>

  <div class="main-content"><%- include("files", { currentFolder }) %></div>
</div>
