<div class="actions">
  <a href="/new-file"><button>+ New file</button></a>
  <a
    href="/new-folder<%= currentFolder ? `?parentId=${currentFolder.id}` : '' %>"
  >
    + New folder
  </a>

  <p><a href="/logout">Log out</a></p>
</div>
