<div class="actions">
  <% if (currentFolder) { %>
  <a href="/folders/<%= currentFolder.id %>/new-file">
    <button>+ New file</button>
  </a>
  <% } %>
  <a
    href="/new-folder<%= currentFolder ? `?parentId=${currentFolder.id}` : '' %>"
  >
    + New folder
  </a>

  <p><a href="/logout">Log out</a></p>
</div>
