<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new file</title>
  </head>
  <body>
    <div class="main">
      <form action="/new-folder" method="POST">
        <input type="text" name="name" placeholder="Folder name" required />

        <% if (parentId) { %>
        <input type="hidden" name="parentId" value="<%= parentId %>" />
        <% } %>

        <button type="submit">Create folder</button>
      </form>
    </div>
  </body>
</html>
