<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/sign-up.css" />
    <title>Sign Up / Dashboard</title>
  </head>
  <body>
    <div class="main">
      <% if (locals.user) { %> <%- include ("partials/dashboard") %> <%- include
      ("partials/folders") %> <% } else { %> <%- include('partials/sign-up') %>
      <% } %>
    </div>
  </body>
</html>
