<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new file</title>
  </head>
  <body>
    <div class="main">
      <form action="/new-file" method="POST">
        <input name="file" placeholder="Choose file" type="file" />
        <button type="submit">Upload</button>
      </form>
    </div>
  </body>
</html>
